<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="defaultSourceServer" value="RobLT\SS2017"/>
    <add key="defaultSourceDatabase" value="SourceDatabase"/>
    <add key="defaultDefaultServer" value="RobLT\SS2017"/>
    <add key="defaultDefaultDatabase" value="TargetDatabase"/>
  </appSettings>
</configuration>
