<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SqlServer.Management.SqlParser" version="150.37051.0" targetFramework="net472" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="160.2004021.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net472" />
</packages>